<% if @user.errors.messages.first != nil %>
  <div class="error-full-messages"> 
    <% @user.errors.full_messages.each do |message| %>
     <%= message %>
    <% end %>    
  </div>
<% end %>
  
<div class="main">  
  <div class="container">
    <div class="row center-block">
      <div class="col-md-6 col-md-offset-3">
        <%= form_tag("/users/create") do %>
          <div class="form-group">
            <label>ユーザー名</label>
            <input name="name" class="form-control" value="<%= @user.name %>">
          </div>
          <div class="form-group">
            <label>email</label>
            <input name="email" class="form-control" value="<%= @user.email %>">
          </div>
          <div class="form-group">
            <label>パスワード</label>
            <input name="password" class="form-control">
          </div>
          <%= submit_tag '登録', class:'btn btn-info' %>
        <% end %> 
      </div>
    </div>  
  </div>
</div>

