<div class="main">
  <div class="container">
    <div class="book-show">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @book.img_url %>" alt="" >
        </div>
        <div class="panel-body text-center">
          <p class="book-title">著書名 :<%= @book.title %></p>
          <p class="book-title">著者名 :<%= @book.author %></p>
          <p class="book-title">出版社 :<%= @book.publisher %></p>
        </div>
      </div>

      <% if @current_user.id == @book.user_id %>
        <div class="btn-tab">

            <%=link_to("/books/#{@book.id}/destroy", :method => :post) do %>
              <button type="button" class="btn btn-danger" >本棚から解除する</button>
            <% end %>


            <%=link_to("/reviews/#{@book.id}/new") do %>
              <button type="button" class="btn btn-info" >まとめを作成する</button>
            <% end %>

        </div>
      <% end %>
      
    </div>
  </div>
</div>
        