<div class="main edit">
    <div class="container">
      <div class="book-show">
        <div class="book_img">
          <img src="<%= @book.img_url %>" alt="本の画像">
        </div>
        <div class="book_info">
          <h3><%= @book.title %></h3>
            <ul>著者:<%= @book.author %></ul>
            <ul>出版:<%= @book.publisher %></ul>
        </div>
      </div>

      <div class="review">
        
        <%= form_tag("/reviews/#{@book.id}/update") do %>
        
          <ul>まとめタイトル</ul>
          <input name="content_title" class="review-content_title" value=<%= @review.content_title%>>
          
          <ul>まとめ本文</ul>
          <textarea name="content" class="review-content"><%= @review.content %></textarea>
          
          <div class="update-button">
            <input type="submit" value="更新" button type="button" class="btn btn-info" ></button>
          </div>
        <% end %>
        
        <div class="destroy-button">
          <%=link_to("/reviews/#{@review.id}/destroy" ,{method: "post"}) do %>
             <button type="button" class="btn btn-danger" >削除</button>
          <% end %>
      　</div>
        
      </div>
    </div>
</div>