<div class="main new">
    <div class="container">
    <h1>新規作成</h1>
      
    <% @review.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
    
    
    <div class="form">
      <%= form_tag("/reviews/create") do %>
      
        <label for>まとめタイトル</label>
        <textarea name="content_title" class="form-control"　row="1"><%= @review.content_title %></textarea>
        
        <label for>まとめ本文</label>
        <textarea name="content" class="form-control"　row="8"><%= @review.content %></textarea>
        
        <label for>Book_id</label>
        <textarea name="book_id" class="form-control"　row="8"><%= @review.content %></textarea>
        
        <div class="create-button">
          <input type="submit" value="作成" button type="button" class="btn btn-primary" ></button>
        </div>
      <% end %>
    </div>
      
    </div>
    
    </div>
</div>
