<div class="main">
    <div class="container">
      <div class="book-show">
        <div class="book_img">
          <img src=<%= @book.img_url %> alt="本の画像">
        </div>
        <div class="book_info">
          <h3><%= @book.title %></h3>
            <ul>著者:<%= @book.author %></ul>
            <ul>出版:<%= @book.publisher %></ul>
        </div>
      </div>
      <div class="destroy-btn">
        <%= link_to("/books/#{@book.isbn}/destroy", :method => :post) do %>
        <button class="btn btn-danger">本の解除</button>
        <% end %>
      </div>
      
      <div class="review">
        
        <%= form_tag("/reviews/#{@book.id}/create") do %>
        
          <ul>まとめタイトル</ul>
          <input name="content_title" class="review-content_title" ><%= @review.content_title %>
          
          <ul>まとめ本文</ul>
          <textarea name="content" class="review-content"><%= @review.content %></textarea>
          
          <div class="create-button">
            <input type="submit" value="作成" button type="button" class="btn btn-primary" ></button>
          </div>
        <% end %>
        
      </div>
    </div>
</div>